<!DOCTYPE html>
<html>
<include head />
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>

        const socket = io('http://localhost/');

            //// receiving messages
            //socket.on('messageName', /*callback function*/ message => {
            //    console.log(message);
            //});

            //// emitting messages
            //socket.emit('messageName', 'this is a message');

    </script>
</body>
</html>