body{
  background-image: linear-gradient(to bottom right, darkgrey, silver , lightgrey);
}

h1{
    color: white;
    text-shadow: 1px 0 black, 0 5px darkslategray, 6px 0 grey, 0 -3px black;
    text-align: center;
    font-size: 80px;
    margin-bottom: -70px;
    text-decoration: underline;
}

button{
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    margin: 12px 12px;
    cursor: pointer;
    width: 95%;
    height: 95%;
}

  .divUser {
      border: 2px solid black;
      color: snow;
      float: left;
      width: 20%;
      height: 6%;
      text-align: center;
      font-size: 30px;
      margin-bottom: -10%;
      padding-top: 23px;
      background-image: linear-gradient(to bottom left, darkblue, blue , DeepskyBlue);
  }

  .button1 {
    background-image: linear-gradient(to bottom left, darkred, red , coral);
  }

  .button2 {
    background-image: linear-gradient(to bottom left, darkgreen, green , lightgreen);
  }

  .button3 {
    background-image: linear-gradient(to bottom left, chocolate, orange , gold);
  }

  .button4 {
    background-image: linear-gradient(to bottom left, Indigo, RebeccaPurple , MediumSlateBlue);
  }

  table{
      margin: auto ;
      margin-top: 12%;
      text-align: center;
      width: 75%;
      height: 50%;
    }
