body{
	display: flex ;
    flex-direction: row;
    justify-content: space-evenly ;
	align-items: center ;

	box-sizing: border-box ;
	height: 98.3vh ;

    background-image: linear-gradient(to bottom right, darkgrey, silver , lightgrey);
    background-repeat: no-repeat;
    background-size: cover;
}

#questionContainer{
	box-sizing: border-box ;
    height: 400px;
    width: 85%;
    text-align: center;
    background-image: linear-gradient(to bottom left, MediumTurquoise, PaleTurquoise , MintCream);
    border-radius: 20px;
    border: 2px solid black;
    color: midnightblue;
}

fieldset{
    float: left;
    margin-left: 25px;
}

h1{
    font-size: 35px;
    text-shadow: -2px 0 MistyRose, 0 2px mistyrose, 2px 0 mistyrose, 0 -2px mistyrose;
}

p{
    font-size: 25px;
}