body{
    background-image: linear-gradient(to bottom right, darkgrey, silver , lightgrey);
}

h1{
    text-align: center;

}

button{
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 12px 12px;
    cursor: pointer;
    width: 95%;
    height: 95%;
}

div{
    height: 95%;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 54px;
    color: lightgrey;
}

  .buttonBack {
      margin-left: auto;
      width: 20%;
      height: 10%;
      font-size: 24px;
      margin-bottom: -10%;
      background-image: linear-gradient(to bottom left, darkblue, blue , DeepskyBlue);
  }

  .div1 {
    background-image: linear-gradient(to bottom left, Firebrick, red , coral);
    padding-top: 5%;
  }

  .div2 {
    background-image: linear-gradient(to bottom left, darkgreen, green , lightgreen);
    padding-top: 3%;
  }

  .div3 {
    background-image: linear-gradient(to bottom left, SlateBlue, MediumPurple , LightBlue);
    padding-top: 5%;
  }

  .Subthema1, .Subthema2, .Subthema3{
    background-image: linear-gradient(to bottom left, darkred, Firebrick , Crimson);
  }

  .Subthema4, .Subthema5, .Subthema6{
    background-image: linear-gradient(to bottom left, DarkOliveGreen, OliveDrab , YellowGreen);
  }

  .Subthema7, .Subthema8, .Subthema9{
    background-image: linear-gradient(to bottom left, Indigo, DarkSlateBlue , SlateBlue);
  }

  table{
      margin: auto ;
      margin-top: 12%;
      text-align: center;
      width: 80%;
      height: 50%;
      border: 4px solid black;
      padding: 20px;
     /* background-image: linear-gradient(to bottom left, rgba(00,00,00, 0.5), rgba(80,80,80, 0.5), rgba(255,255,255, 0.5)); */
      background-color: rgba(255,255,255, 0.72);
      border-radius: 20px;
    }


